html,body{
    font-family: 'Nunito', sans-serif;
    background-color:white;
    margin: 0px;
    width:100vw;
    display: flex;
    flex-direction: column;
}
.hero-image{
	width: 100%;
	height: 100%; 
	margin: 0px;
	padding: 0px;
	background-color: black; 
	background-size:100% 100%;
	background-position: all;
}
.hero-image img{
	width: 100%;
	height: 100%;
	padding: 0px;
	border: 0px;
}
.container-1{
	display: flex;
	align-items: center;
	top: 0;
    background-color: rgba(212,67,67,0.4);
    position: fixed;
    margin: 0;	
    width: 100vw;
}
.header-left
{
	flex:1;
}
.header-right{
	flex: 9;
	display: flex;
	flex-flow: row wrap;
}
.header-right li{
	display: inline-block;
	margin-right: 2vw;
	font-size: 200%;
	text-shadow: all;
}
.header-right a{
	text-decoration: none;
	color: #444;
}
.header-right a:hover{
	color: red;
}

.content{
	background-color:#444;
	width: 100vw;
}

@media all and (max-width: 800px) {
	.container-1{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		top: 0;
    	background-color: rgba(212,67,67,0.4);
    	position: fixed;
    	margin: 0;
    	width: 100%;
	}
	.header-left{
		flex-basis: 100%;
		flex:1;
		justify-content: center;
	}
	.header-right ul{
		display: flex;
		flex-direction: column;
	}
}

.container-2{
	display: flex;
	background-color: 
	margin: 0px;
	flex-wrap: wrap;
	align-items: stretch;
}
.first{
  background-image: url("images/yuvrajsingh.jpg");
  background-size: 100% 100%; 
  flex: 1;
  background-color: #3a4e48;
  /* box-sizing: border-box; */
  background-repeat: no-repeat;
  /* background-size: 470px 100%; */
  color: #F6F0F2;
}
.second{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/sachin.jpg");
  flex: 1;
  padding: 10px 25px;
  background-color: #d8bfaa;
  background-repeat: no-repeat;
  /* background-size: 470px 100%; */
  background-size: 100% 100%; 
  color: #C23A1D;
  /* box-sizing: border-box; */
}
.third{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/dhoni.jpg"); 
  flex: 1;
  background-color: #d64933;
  /* box-sizing: border-box; */
  /* background-size: 470px 100%; */
  background-size: 100% 100%; 
  color: #FFA07A;
  background-repeat: no-repeat;
}
h1{
	margin: 0;
	text-align: center;
	
}
@media screen and (max-width:700px) {
	.container-2{
		display: flex;
		flex-flow:column wrap;
	}
}
/* 		footer css 			*/

.footer{
	display: flex;
	background-color: black;
	width: 100vw;
}
.footer-box3{
	flex: 10;
	color: #808080;
	box-sizing: border-box;
	text-align: center;
}
@media screen and (max-width:700px)  {
	.footer{
		display: flex;
		flex-flow: column wrap;
	}		
}

@media (min-width: 700px) {
	
}
#facebook i{
	color: #a2a2a2;
}
#facebook i:hover{
	color: #3b5998;
}
#twitter i{
	color: #a2a2a2;
}
#twitter i:hover{
	color: #0084b4;
}
#instagram i{
	color: #a2a2a2;
}
#instagram  i:hover{
	color:#cd486b;
}
#linkedin i{
	color: #a2a2a2;
}
#linkedin i:hover{
	color: #0077b5;
}